@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Nabla&family=Noto+Sans+TC:wght@100..900&family=Silkscreen:wght@400;700&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

.lexend-giga-100 {
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.lexend-giga-400 {
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lexend-giga-700 {
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.lexend-giga-900 {
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.geo-regular {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.geo-regular-italic {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: italic;
}


.zcool-qingke-huangyou-regular {
  font-family: "ZCOOL QingKe HuangYou", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.nabla {
  font-family: "Nabla", system-ui;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}