@use '_variables' as *;
@use '_fonts' as *;

.b-a {
    text-decoration: none;
    font-weight: bold;
}

.b-btn {
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.5rem;
    padding: 0.5em 1em;
    color: white;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0.7;

    &:hover {
        text-transform: capitalize;
        opacity: 1;
        border-radius: 0.1rem;
        color: white;
        transform: scale(1.5);
        transform-origin: 50% 50%;
    }
}