  $text-4xl: 4rem;
  $text-3xl: 3.2rem;
  $text-2xl: 2.8rem;
  $text-xl: 2.4rem;
  $text-lg: 2rem;
  $text-md: 1.8rem;
  $text-body: 1.6rem;
  $text-sm: 1.4rem;
  $text-xs: 1rem;
  $text-xxs: 0.8rem;
  $text-xxxs: 0.5rem;

  // color palette
  $light-gray: #adadad;
  $light-red: #ffaaa2;
  $light-blue: #88e5ff;
  $light-green: #8bff8b;

  // min-lg breakpoint
  @mixin min-lg {
    @media (min-width: 1081px) { // adjust value as needed
      @content;
    }
  }

  @include min-lg {
    $text-4xl: 4.2rem;
    $text-3xl: 3.4rem;
    $text-2xl: 3rem;
    $text-xl: 2.6rem;
    $text-lg: 2.2rem;
    $text-md: 2rem;
  }

  // 1080px
  @media (max-width: 1080px) {
    $text-4xl: 3.4rem;
    $text-3xl: 2.8rem;
    $text-2xl: 2.4rem;
    $text-xl: 2rem;
    $text-lg: 1.7rem;
    $text-md: 1.5rem;
  }

  // 678px
  @media (max-width: 678px) {
    $text-4xl: 2.6rem;
    $text-3xl: 2.2rem;
    $text-2xl: 1.8rem;
    $text-xl: 1.6rem;
    $text-lg: 1.4rem;
    $text-md: 1.2rem;
  }

  // 375px
  @media (max-width: 375px) {
    $text-4xl: 2rem;
    $text-3xl: 1.6rem;
    $text-2xl: 1.4rem;
    $text-xl: 1.2rem;
    $text-lg: 1rem;
    $text-md: 0.9rem;
  }
